.git
.gitignore
.cursor
.idea

*.exe
auth-server
monaiauth
*-linux-amd64
*-linux-arm64

logs/
uploads/

refer/
docs/
web/

configs/config.yaml
configs/nginx.conf

Dockerfile
docker-compose.yml
.env
.env.*
